<section id="DirectoryInput">
    <div id="ArtistDirectory">
        <h1>Artist Directory</h1>
        <form action="/search" method="post">
            <input id="GET-artist" type="text" name="name">
            <input id="ADD-artist" type="button" value="Add artist" onclick="addArtist()">
            <input id="SEARCH-artist" type="submit" value="Search">
        </form>
    </div>
</section>
<section id="DirectoryOutput">
    {{#each artists}}
        <div class="Artist">
            <img src="{{this.img}}" />
            <div class="ArtistInfo">
                <h3>{{this.name}}</h3>
                <p>{{this.desc}}</p>
                <form action="/delete" method="post">
                    <input name="id" type="hidden" value="{{this.id}}">
                    <input class= "Deletebutton" type="submit" name="delete" value="delete">
                </form>
            </div>
        </div>
    {{/each}}
</section>