<section id="DirectoryInput">
    <div id="ArtistDirectory">
        <h1>Artist Directory</h1>
        <form action="/search" method="post">
            <input id="GET-artist" type="text" name="name">
            <input id="ADD-artist" type="button" value="Add artist" onclick="addArtist()">
            <input id="SEARCH-artist" type="submit" value="Search">
        </form>
    </div>
</section>
<section id="DirectoryOutput">
</section>