#DirectoryInput{
    margin: auto;
    width: 75%;
}

#ArtistDirectory{
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    width: 50%;
    border: lightgray 1px solid;
    border-radius: 5px;
    min-width: 250px;
    max-width: 300px;
}

#GET-artist{
    width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
}

#DirectoryOutput{
    margin: auto;
    width: 50%;
}

#DirectoryOutput > div{
    margin: auto;
    width: 50%;
    border: lightgrey 1px solid;
    padding-left: 2px;
    padding-right: 2px;
}

.Artist{
    background-color: white;
    padding-top: 3px;
    text-align: center;
    min-height: 80px;
    min-width: 250px;
    max-height: 120px;
    max-width: 300px;
}

.Artist:hover{
    background-color: whitesmoke;
}

.Artist > img{
    width: 25%;
    margin: 5px 2px;
    border-radius: 4px;
}

.ArtistInfo{
    width: 70%;
    margin-top: 5%;
    float:right;
}

.ArtistInfo > h3, p{
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.ArtistInfo > p{
    font-size: small;
}